#navbar {
    max-width: 1200px;
    margin: auto;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#navbar-logo {
    max-width: 100px;
}

#navbar-menu {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 50px;
}

.navbar-link a {
    color: #fff;
    font-size: 20px;
    position: relative;
    padding-bottom: 5px;
}

.navbar-link a::after {
    content: "";
    position: absolute;
    height: 2px;
    width: 0;
    bottom: 0;
    right: 0;
    background-color: #fcc602;
    transition: all 0.3s ease;
}

.navbar-link a:hover::after {
    width: 100%;
}

#contact {
    background-color: #fcc602;
    color: #fff;
    padding: 10px 20px;
    font-size: 20px;
    border-radius: 10px;
    border: 0;
    transition: all 0.3s ease;
}

#contact:hover {
    background-color: rgb(206, 158, 0);
    cursor: pointer;
    transition: all 0.3s ease;
}
