@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    background-color: #131316;
    font-family: 'Oswald', sans-serif;
}

img {
    width: 100%;
    display: flex;
}

a {
    text-decoration: none;
}